footer.container.py-3.mt-4
    .row
        .col-md-6
            nav.nav.footer.justify-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales
            .d-flex.justify-content-center.align-items-center.justify-content-md-start
                a.m-4(href="https://www.linkedin.com/in/juan-carlos-ubaldo-sanchez-developer" target="_blank" class="mx-2")
                    i.fab.fa-linkedin.fa-2x
                a.m-4(href="https://wa.me/6693312052" target="_blank" class="mx-2")
                    i.fab.fa-whatsapp.fa-2x
                a.m-4(href="mailto:juanubaldo2@gmail.com" target="_blank" class="mx-2")
                    i.fas.fa-envelope.fa-2x

        .col
            p.copyright.text-center
                | Todos los derechos reservados 
                span= actualYear
            p.copyright.text-center.m-4  Juan Carlos Ubaldo Sanchez
            //- p(class="copyright")
            //- <p class="copyright">
        